.jumbotron {
  /* background-color: #060708; */
  color: #ffffff;
  /* opacity: 0.8; */
  padding: 3.5rem 1.5rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 4px;
  height: 100%;
}

.jumbotron p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.bg-2 { 
  background-color: #060708;
  color: #ffffff;
  opacity: 0.7;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}

.nav-link:hover {
  color: #c0b9b9 !important;
}

.nav-link.active {
  color: #fff !important;
  background-color: #1a1a1d !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.container {
  padding: 5rem 7.5rem;
}

.img-circle {
  border-radius: 10%;
}

.img-responsive {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

.margin-top {
  margin-top: 2rem;
}

.img-carousel {
  max-width: 70%;
  height: auto;
  opacity: 1;
  filter: brightness(50%);
  padding-left: 2rem;
  padding-right: 2rem;
}

.div-carousel {
  padding-bottom: 3.5rem;
}

.div-carousel h3 {
  font-family: Montserrat, sans-serif;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #ffffff;
}

.div-carousel h3:hover {
  color: #d5d5db !important;
}

.div-carousel a {
text-decoration: none;
}



.div-carousel p {
  font-family: Montserrat, sans-serif;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #efeff7;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.footer {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 1rem !important;
  letter-spacing: 4px;
  opacity: 0.9;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  box-shadow: 0 50vh 0 50vh #2d2d30;
  color: #d5d5d5
}