body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url(/src/images/wallpaperflare.com_wallpaper.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* background: orange; */
}

.jumbotron {
  /* background-color: #060708; */
  color: #ffffff;
  /* opacity: 0.8; */
  padding: 3.5rem 1.5rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 4px;
  height: 100%;
}

.jumbotron p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}

.nav-link:hover {
  color: #c0b9b9 !important;
}

.nav-link.active {
  color: #fff !important;
  background-color: #1a1a1d !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.container {
  padding: 5rem 7.5rem;
}

.img-circle {
  border-radius: 10%;
}

.img-responsive {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

.margin-top {
  margin-top: 2rem;
}

.img-carousel {
  max-width: 67%;
  height: auto;
  opacity: 1;
  filter: brightness(50%);
  padding-left: 2rem;
  padding-right: 2rem;
}


.div-carousel {
  padding-bottom: 3.5rem;
}

@media (min-width: 832px) {
  .carousel-text {
    font-family: Montserrat, sans-serif;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #ffffff;
  }
}

@media (max-width: 831px) {
  .carousel-text {
    font-size: 0.8rem;
    color: #ffffff !important;
    font-weight: normal;
  }
  .img-carousel {
    max-width: 100%;
    height: auto;
  }
}

.div-carousel h3:hover {
  color: #d5d5db !important;
}

.div-carousel a {
text-decoration: none;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.footer {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 1rem !important;
  letter-spacing: 4px;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  box-shadow: 0 50vh 0 50vh #2d2d30;
  color: #b3a8a8;
  height: 5rem;
  margin-top: auto;
}

.contact-form{
  display: flex !important;
  flex-direction: column !important;
}

.row {
  justify-content: center;
  margin: 0.5rem;
}

.btn-form {
  background-color: #353434 !important;
  cursor: pointer;
  width: 10em;
  height: 3em;
  color: #d5d5d5 !important;
  justify-content: right;
  border-radius: 1em;
  margin-top: 1rem;
}

.btn-form:hover {
  background-color: #272525 !important;
  color: #a79c9c !important;
}


@media (max-width: 768px) {
  .nav-flex {
    display: flex !important;
    flex-direction: column !important;
  }

  .navbar-head {
    justify-content: center;
  }

  .nav {
    justify-content: center;
  }

}

